NODE_MODULE = development
PORT = 3003

SOLT_ROUND = 0

ACCESS_TOKEN = "your_secret"
REFRESH_TOKEN = "refresh_secret"
EXPIRES_IN = 1h
REFRESH_EXPIRES_IN = 1d


MAIL_APP_NAME="mail_name"
MAIL_USER = "your_mail"
MAIL_SECRET="MAIL_SECRET"
DATABASE_URL = "db url"
FRONTEND_URL_DEV =  http://localhost:3000
FRONTEND_URL_PROD =  http://localhost:3000